html {
	font-family: 'PT Sans Caption, sans-serif';
	font-size: 16px;
	line-height: 1.5;
}


body {background-color: grey}

.header {
	background-image: url(../bg/bg-header1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	height: 100vh;
	color: #FFF;
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

.header__title {
	font-size: 56px;
	margin-bottom: 30px;
	line-height: 1.15;
	font-family: 'Merriweather', serif;
	margin-top: -300px;

}

.header__slogan {

	font-size: 28px;
	line-height: 42px;
}

.header__arrow {

	font-size: 48px;
	position: absolute;
	left: 50%;
	width: 60px
	height 50px;
	margin-left: -30px; 

}

.footer {
	background: #242E25;
	color: #FFF;
	
}
